body {
  font-family: sans-serif;
  margin-left: 3rem;
  max-width: 600px;
}

#hr {
  /* width: 600px; */
  margin-right: 10rem;
}

h1 {
  color: rgb(162, 0, 255);
}

#msg {
  /* background-color: rgb(122, 170, 233); */
  padding: 0.4rem;
  border-radius: 0.4rem;
  margin: 0;
  /* color: green; */
  font-weight: bold;
}

#bookName {
  /* display: flex; */
  padding: 0.4rem;
  max-width: 600px;
}

#author {
  padding: 0.4rem;
  max-width: 600px;
}

.label {
  padding: 1rem;
  /* margin: 1rem; */
  max-width: 600px;
}

.lb {
  padding-right: 2rem;
}

#button {
  background-color: rgb(202, 126, 247);
  padding: 0.7rem;
  border-radius: 11px;
  border-style: none;
  color: rgb(61, 3, 66);
  font-weight: bold;
}

h2 {
  color: rgb(162, 0, 255);
}

.table {
  padding: 0.4rem;
}

.tup {
  padding-right: 10rem;
}

.tt {
  padding-right: 10rem;
  padding-top: 1rem;
  /* text-align: center; */
}
